<div class="main-div">
  <mat-card class="z-depth center" flex="50" >
    <div class="profile-card">
      <div class="header">
        <h2>Register</h2>
      </div>
      <img [src]="logo" alt="Register">
    </div>

    <mat-divider></mat-divider>

    <div class="profile-card">
      <div class="header">
      </div>
    </div>

    <form class="example-form" #form="ngForm" (submit)="signup(form)">
      <mat-form-field class="example-full-width">
        <input type="text" name="username" matInput [(ngModel)]="user.username" #username="ngModel" required placeholder="Username">
        <mat-icon matSuffix>person_outline</mat-icon>
        <mat-error *ngIf="username.invalid">Username must be present</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="email" name="email" matInput [(ngModel)]="user.email" #email="ngModel" required placeholder="Email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email.invalid">Email must be present</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" name="password" matInput [(ngModel)]="user.password" #password="ngModel" required placeholder="Password">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="password.invalid">Password must be present</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input type="password" name="password" matInput [(ngModel)]="user.password" #password="ngModel" required placeholder="Password confirmation">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="password.invalid">Password must be present</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="form.invalid">Signup</button>
    </form>
  </mat-card>
</div>
